.wheelchair-tooltip {
	font-family: "ItimRegular";
	font-size: 1.6em;
}

.wheelchair-tooltip .category {
	font-family: sans-serif;
	font-size: 0.7em;
}

.wheelchair-tooltip .category .icon {
	height: 16px;
	width: 16px;
	display: inline-block;
	border-radius: 8px;
	font-size: 12px;
	text-align: center;
	color: white;
	font-weight: bold;
	margin-right: 0.5em;
}

.wheelchair-tooltip.wheelchair-unknown .category .icon,
.wheelchair-icon.wheelchair-unknown {
	background-color: #555555;
	fill: #555555;
	stroke: #555555;
}

.wheelchair-tooltip.wheelchair-limited .category .icon,
.wheelchair-icon.wheelchair-limited {
	background-color: #fdcc31;
	fill: #fdcc31;
	stroke: #fdcc31;
}

.wheelchair-tooltip.wheelchair-no .category .icon,
.wheelchair-icon.wheelchair-no {
	background-color: #cc0050;
	fill: #cc0050;
	stroke: #cc0050;
}

.wheelchair-tooltip.wheelchair-yes .category .icon,
.wheelchair-icon.wheelchair-yes {
	background-color: #77b756;
	fill: #77b756;
	stroke: #77b756;
}
