html, body, #map {
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 0.95em;
}

p {
	line-height: 1.4em;
	hyphens: auto;
}

a {
	color: #4f4f7c;
}
a:hover {
	color: #333;
}

#map {
	position: absolute;
	width: 100%;
	top: 0;
}

#info {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -2px;
	z-index: 1000;
	overflow-y: auto;
	pointer-events: none;
}
#info::before {
  display: block;
  content: "";
  height: 70%;
}

#info .wrapper {
	max-width: 85%;
	width: 600px;
	background: rgba(255,255,255,0.95);;
	padding: 1em 2em 1.5em 2em;
	margin: auto;
	pointer-events: auto;
	border-radius: 4px;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

#info .text-citation::before {
	content: "Quelle: "
}
#info .text-citation {
	color: #5f5f5f;
	font-style: italic;
}
